ios/example/example.xcodeproj/project.xcworkspace/
ios/example/example.xcodeproj/xcuserdata/
ej2d
ej2d.dSYM/*
*.bsc
*.exp
*.ilk
*.lastbuildstate
*.pdb
*.pyc
*.suo
*.user
*.sdf
*.opensdf
*.ipch
*.sln.cache
Thumbs.db
ej2d.exe
